<nav class="shadow-sm  mb-5 bg-white rounded justfy-content-center">
    <div class="w-100 bg-dark pt-2 justfy-content-center" style="height: 55px;">
        <div class="container width:100%">
          <div class="row">
            <div class="col-md-1 ml-auto">
              <a href="/logout">
                <button type="button" class="btn btn-outline-light">Logout</button></a>
            </div>
          </div>
      </div>  
    </div>
    <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6 pt-3 pb-1">
            <img src="/img/Logo_02.png" alt="" width="50%" height="100%">
          </div>
          <div class="col-xs-6 col-md-3">
          </div>
  
          <div class="col-xs-6 col-md-3">
          </div>
        </div>
      </div>
      <br>
      <div class="container">
        <div class="row">
          <div class="col-md-0 col-sm-6 col-xs-10">
            <ul>
                <li class="d-inline">
                    
                </li>
                <li class="d-inline">
                    <a href="/user/index/"><button type="button" class="btn btn-light">Início</button></a>
                </li>
                <li class="d-inline">
                    <a href="/user/publicar"><button type="button" class="btn btn-light">Criar novo post</button></a>
                </li>
                <li class="d-inline">
                    <a href="/user/help"><button type="button" class="btn btn-light">Como funciona?</button></a>
                </li>
            </ul>
          </div>
        </div>
      </div>
</nav>
