<%- include ("partials/header.ejs") %>
<%- include ("partials/homenavbar.ejs") %>

<body>
 
<div class="d-flex justify-content-center pb-5 ">
  <div class="card" style="width: 20rem;">
    <div class="card-body d-flex justify-content-center card-header">
        <div class="form-group">
          <h2 class="pl-5">Sign in</h2>
          <br>
          <div>
            <a href="/facebook">
              <button type="button" class="btn btn-info"><img src="/img/facebook-icone.png" width="15px" height="15px" alt="">  Facebook</button></a>
            <a href="/google">
                <button type="button" class="btn btn-danger"><img src="/img/icone-google.png" width="20px" height="20px" alt="">  Google</button></a>
          </div>
        </div>   
    </div>
    </div>
  </div>


</body>

<%- include ("partials/footer.ejs") %>
