<%- include ("../partials/header.ejs") %>
<%- include ("../partials/navbar.ejs") %>

<body>
    
    <div class="card-text-center pl-5 pb-5">
        <h3 class="pl-5">Como funciona?</h3>
        <div class="container row justify-content-center pl-5">
        <div class="col-sm p-2">
            <div class="pl-4" style="width: 19rem;">
                <img src="/img/icone-one.png" width="60%" height="60%" alt="">
                <br>
                <span>1º Após o cadastro o usuário escreve a notícia que quiser.</span>   
            </div>
        </div>
        <div class="col-sm p-2">
            <div class="pl-2" style="width: 19rem;">
                <img src="/img/icone-two.png" width="60%" height="60%" alt="">
                <br>
                <span>2º Divulga em suas redes sociais.</span>   
            </div>
        </div>
        <div class="col-sm p-2">
            <div class="pl-4" style="width: 19rem;">
                <img src="/img/icone-three.png" width="60%" height="60%" alt="">
                <br>
                <span>3º Acompanha até o fechamento.</span>   
            </div>
        </div>
        <div class="col-sm p-2">
            <div class="pl-4" style="width: 19rem;">
                <img src="/img/icone-four.png" width="60%" height="60%" alt="">
                <br>
                <span>4º Caso sua notícia seja uma das mais vistas o prêmio é seu.</span>   
            </div>
        </div>
        <div class="col-sm p-2">
            <div class="pl-4" style="width: 19rem;">
                <img src="/img/icone-five.png" width="60%" height="60%" alt="">
                <br>
                <span>5º Aí é só desfrutar.</span>   
            </div>
        </div>
        <div class="col-sm p-2">
            <div class="pl-4" style="width: 19rem;">
                   
            </div>
        </div>
        </div>
    </div>

</body>

<%- include ("../partials/footer.ejs") %>
