<%- include ("../partials/header.ejs") %>
<%- include ("../partials/navbar.ejs") %>

<body>
    <div class="container mt-2 pb-5">
        <h2 class="mt-2">Criando novo post</h2>
        <hr>
        <form action="/user/add" method="POST" enctype="multipart/form-data">
            <form action="/user/addimg" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="linkImg"class="text-info">Escolha uma imagem que represente sua postagem</label>
                    <input type="file" class="input-group-prepend" id="img"  value="upload">
                    <button type="submit" class="btn btn-info mt-3">Confirmar</button>
                </div>
            </form>
        </form>
    </div>
</body>

<%- include ("../partials/footer.ejs") %>
